.label-font {
    color:          black;
    font-family:      'Segoe UI';
    padding:            10px;
}

.card {
    width: 400px;
    background-color: #990011FF;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    padding-left: 8px;
}

body {
    background-color: #FCF6F5FF;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: row;
    width: 400px;
    aspect-ratio: 4;
    background-color: #8AAAE5;
    border-radius: 20px;
    margin: 12px;
    padding: 4px;
}
